.features {
    padding: 48px 0;
    background-color: #006bff;
}
.features__list {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 32px 48px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(209, 213, 223, .5);
}
.features__item {
    display: flex;
}
.features__content {
    margin-left: 24px;
}
.features__title {
    font-size: 16px;
    font-weight: 600;
    color: #282830;
    line-height: 19px;
    margin-bottom: 4px;
}
.features__text {
    width: 180px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    color: #858997;
}